node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
.env
tomosume.jks
api
# macOS
.DS_Store
firebase.json
firebase-debug.log
firestore.rules
firestore.indexes.json
storage.rules
ui-debug.log